<%- include("partials/header.ejs")  %>
<body class="pages-body">
    <div id="edit-div">
        <div id="edit-left-column">
            <div id="edit-title-plus-div">
                <h1 class="open-sans-bold white-text edit-title"> Edit blogs </h1>
                <form action="/create" method="GET">
                    <button type="submit" class="btn-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill plus-icon" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
                        </svg>
                    </button>
                </form>
            </div>  
            <hr class="hr-line"/>
    
            <% if(locals.posts) { %>
                <div>
                    <% for(var i=0; i<posts.length ; i++){ %>
                        <div class="title-edit-delete-icon">
                            <h2 class="white-text open-sans-normal btn-titles edit-titles"><%= posts[i].title %></h2>
                            <div>
                                <form action="/edit2/<%= posts[i].id %>" method="GET">
                                    <button type="submit" class="btn-hover edit">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"></path>
                                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"></path>
                                        </svg>
                                    </button>
                                </form> 
                                <form action="/delete<%= posts[i].id %>" method="GET">
                                    <button type="submit" class="btn-hover delete-btn">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"></path>
                                        </svg>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <hr class="hr-line"/>
                    <% } %>
                </div>
            <% } %> 
            
            <form action="/" method="GET">
                <button class="btn-home" type="submit">Return Home</button>
            </form>
            
    
            
        </div>

        <div id="edit-right-column" class="float-right">
            <% if(locals.post) { %>
            <form action="/update/<%= post.id %>" method="POST">
                <input type="text" name="title" class="input-areas" value="<%= post.title  %>">
                <textarea name="blogText" class="input-areas" ><%= post.content  %></textarea>
                <input class= "btn-create-post" type="submit" value="Update blog">
            </form>
            <% } %>
            
        </div>
    </div>

<%- include("partials/footer.ejs")  %>